.button {
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  background: linear-gradient(
    67deg,
    rgba(242, 117, 7, 1) 3%,
    rgba(250, 166, 91, 1) 46%,
    rgba(242, 117, 7, 1) 86%
  );
  border: none;
  border-radius: var(--border-radius);
  color: #fff;
  font-family: var(--main-text-font-family);
  font-weight: 700;
  font-size: 0.75rem;
}
