.header {
  background-color: transparent;
  display: grid;
  place-items: center;
}

.appName {
  color: var(--text-color-primary);
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0;
}
