.doctorCard {
  display: grid;
  place-items: center;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
}
.imageCropper {
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -13%;
}

.imageCropper img {
  width: auto;
  height: 100%;
}

.content {
  text-align: center;
  padding-top: 1rem;
}

.content .heading {
  font-family: var(--card-heading-font-family);
  font-size: var(--card-heading-font-size);
  color: var(--text-color-primary);
}

.content .adress {
  font-weight: 300;
  padding-top: 0.5rem;
}
