@font-face {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  src: url('./assets/font/EncodeSansSemiExpanded-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Encode Sans Condensed', sans-serif;
  src: url('./assets/font/EncodeSansCondensed-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/font/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/font/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/font/Roboto-Medium.ttf');
  font-weight: 500;
}

:root {
  --bg-primary: #dbf4ff;
  --color-accent: #f68d30;
  --text-color-primary: #145376;
  --text-size-primary: 16;
  --main-heading-font-family: 'Encode Sans Semi Expanded', sans-serif;
  --card-heading-font-family: 'Encode Sans Condensed', sans-serif;
  --main-text-font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
