@font-face {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  src: url('./assets/font/EncodeSansSemiExpanded-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Encode Sans Condensed', sans-serif;
  src: url('./assets/font/EncodeSansCondensed-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/font/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/font/Roboto-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./assets/font/Roboto-Medium.ttf');
  font-weight: 500;
}

:root {
  --bg-primary: #dbf4ff;
  --color-accent: #f68d30;
  --text-color-primary: #145376;
  --text-size-primary: 1rem;
  --main-heading-font-family: 'Encode Sans Semi Expanded', sans-serif;
  --main-text-font-family: 'Roboto', sans-serif;
  --card-heading-font-family: 'Encode Sans Condensed', sans-serif;
  --card-heading-font-size: 1.25rem;
  --card-bg: rgba(255, 255, 255, 60%);
  --border-radius: 10px;
  --card-space: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-text-font-family);
  font-weight: 300;
  color: var(--text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  height: 100vh;
}
