.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0 1rem;
  height: 100vh;
}

.section {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 7px 12px -7px rgba(20, 83, 118, 0.39);
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.section__heading {
  text-align: center;
  font-family: var(--card-heading-font-family);
  font-size: var(--card-heading-font-size);
  color: var(--text-color-primary);
}

.section__notification {
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 1rem;
}

.section__notification--accent {
  color: var(--color-accent);
  font-weight: 700;
}

.page__navigation {
  position: fixed;
  bottom: var(--card-space);
  left: var(--card-space);
  right: var(--card-space);
}
